<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER</title>
</head>
<body>


    <form action="/perform_ner" method="post">
        <label style="color:blue">Type your text here </label><br><br>
        <textarea name="ner_text"></textarea><br><br>
        <input type="submit" value="perform NER">
    </form> <br><br>


    {% if response %}
        <h2>NER Output :</h2>
        <ul>
            {% for item in response %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
{% endif %}





</body>
</html>